{% extends 'authenticate/base.html' %}

{% block content %}
<h2 class="text-center">Login</h2>

<div class="col-md-6 offset-md-3 text-center">
	<form method="POST">
	 {% csrf_token %}
	 <div class="mb-3">
	    <div class="form-group">
	    	<input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter username">	
	    </div>
	    
	    
	  </div>
	  <div class="mb-3">
	    <div class="form-group">
	    	<input type="password" class="form-control" id="password" name="password" placeholder="Enter the password">	
	    </div>
	  </div>

	  <button type="submit" class="btn btn-secondary">Login</button>
	</form>	

</div>


{% endblock %}